<div class="row">
  <div class="cronos_home_top_row">
    <div class="container">
      <div class="login_content">
        <h2>Welcome to CRONOS</h2>
        <p>A flexible case management solution that
          <br/>increases collaboration and consolidates data access</p>
      </div>
    </div>
  </div>
</div>
<div class="container" style="margin-bottom:0.01em;">
  <div class="row text-xs-center">
    <div class="col-xs-12 col-md-4">
      <a href="/CRONOS/search/case" class="circle_block">
        <div class="circle_icon circle_1">
          <i class="fa fa-briefcase" aria-hidden="true"></i>
        </div>
        <div class="circle_title">Search for Cases</div>
      </a>
    </div>
    <div class="col-xs-12 col-md-4">
      <a href="/CRONOS/dashboard" class="circle_block">
        <div class="circle_icon circle_2">
          <i class="fa fa-tachometer" aria-hidden="true"></i>
        </div>
        <div class="circle_title">View Dashboard</div>
      </a>
    </div>
    <div class="col-xs-12 col-md-4">
      <a href="/CRONOS/mycronos" class="circle_block">
        <div class="circle_icon circle_3">
          <i class="fa fa-th-large" aria-hidden="true"></i>
        </div>
        <div class="circle_title">View Assigned Work</div>
      </a>
    </div>
  </div>
</div>
