<link href="/css/survey.css" rel="stylesheet">
<div class="container-fluid">
  <section id="surveyArea" class="survery-container">
    <div class="row">

    </div>
    <div class="row contain">

    </div>
    <div id="addPageDialog" tabindex="-1" role="dialog" aria-labelledby="addPageDialogLabel" class="modal fade">

    </div>

    <div id="deletePageDialog" tabindex="-1" role="dialog" aria-labelledby="deleteDialogLabel" class="modal fade">

    </div>

    <div id="saveSurveyDialog" tabindex="-1" role="dialog" aria-labelledby="saveSurveylabel" class="modal fade">

    </div>

    <div id="runSurveyDialog" tabindex="-1" role="dialog" aria-labelledby="runSurveylabel" class="modal fade">

    </div>

    <div id="messageDialog" tabindex="-1" role="dialog" aria-labelledby="messagelabel" class="modal fade">

    </div>

    <div id="messageSaveOrUpdateDialog" tabindex="-1" role="dialog" aria-labelledby="messagelabel" class="modal fade">

    </div>

    <div id="addDependenceDialog" tabindex="-1" role="dialog" aria-labelledby="addDependencelabel" class="modal fade">

    </div>
  </section>
</div>
<script src="/js/survey/surveyjs/knockout-min.js"></script>
<script src="/js/survey/surveyjs/survey.js"></script>
<script src="/components/jquery-ui/jquery-ui.js"></script>
<script src="/js/survey/service/surveyEdit.js"></script>
<script src="/js/survey/controllers/surveyEdit.js"></script>
